<%- include('../partials/Boilerplate') %>
<style>
  .footer{
        border-style: solid;
        border-width: 80px 110px 80px 110px;
        border-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,auto));
        grid-auto-rows: minmax(300px,auto);
        column-gap: 30px;
   }
   .social{
        letter-spacing: 2px;
   }
   .card{
       display: flex;
       background-color: #F1F1EF;
       justify-content: center;
       align-items: center;
   }
</style>
<div class="footer">
  <div class="social">
      <img style="margin-top: 17%;" src="https://websitedemos.net/recycled-shoe-store/wp-content/uploads/sites/983/2021/11/site-logo.svg" alt="">
      <p style="font-size: 18px;color: #6e7051;margin-top: 20%;">Praesent eget tortor sit </p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;"> egestas nulla pharetra </p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">quis bibendum est </p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;"> sapien proin nascetur</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">risus quis bitum</p>
     
  </div>
  <div class="social">
      <p style="font-size: 20px;font-weight: 600;margin: 15% 0% 0% 0%">Shop</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 23%;">Shop Men</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Shop Women</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Lookbook</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Gift Card</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Sale</p>
  </div>
  <div class="social">
      <p style="font-size: 20px;font-weight: 600;margin: 15% 0% 0% 0%">About</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 23%;">Our Story</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Our Materials</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Our Value</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Sustainability</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Manufacture</p>
  </div>
  <div class="social">
      <p style="font-size: 20px;font-weight: 600;margin: 15% 0% 0% 0%">Need Help?</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 23%;">FAQs</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Shipping & Returns</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Shoe Care</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Size Chart</p>
      <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Contact Us</p>
  </div>
</div>


<div class="card">
  <p style="color: #979A9B;margin-left: 5%;">© 2023 Recycled Shoe Store. Powered by Recycled Shoe Store.</p>
  <img style="margin-left: 15%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/2560px-PayPal.svg.png" alt="">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo0W4ycihcIRASJBApYuy-bt2xghRrdKb9YyoYcfFu5g&s" alt="">
</div>